body {
    text-align: center;
    background: #5433FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);  
    background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF); 
}

button {
    margin-left: 300px;
    color: white;
    background-color: red;
    border: none;
}

footer {
    color: white;
    position: fixed;
    bottom: 0;
    left: 45%;
    font-size: 20px;
}

footer a {
    color: white;
}

h1 {
    font-size: 50px;
    font-family: 'Rock Salt', cursive;
    color: aqua;
}

input[type=text] {
    width: 15%;
    border: 2px solid black;
    padding: 3px 15px;
    margin: 5px 5px;
    font-family: 'Press Start 2P', cursive;
    transition: ease-in-out, width .35s ease-in-out;
}

input[type=text]:focus {
    width: 300px;
    background-color: black;
    color: gold;
}

li {
    list-style-type: none;
    /* background-color: rgb(206, 168, 255, 0.5);  */
    font-size: 15px;
    padding: 10px 0;
    font-family: 'Press Start 2P', cursive;
    width: 95%;
    
}

li:nth-child(odd) {
    background-color: rgb(206, 168, 255, 0.5)
}

li:nth-child(even) {
    background-color : rgb(255, 182, 193, 0.85)
}

li:hover {

    cursor: pointer;
    /* animation-name: changesize;
    animation-duration: .07s;
*/
}

.contain {
    box-shadow: 5px 10px 8px;
    background-color: lightblue;
    height: 750px;
    padding-top: 10px;
    position: relative;
    width: 50%;
    left: 25%;
    top: 50%;
    border-radius: 10px;
    border: solid black 3px;
}

.delete{
    background-color: #ff6161;
    padding: 0px 3px 0px 3px;
    color: #fff;
    cursor: pointer;
  }

.list-check {
    text-decoration: line-through;
    color: green;
}

span {
    padding-right: 10px;
    color: beige;
}

span:hover {
    color: red;
    cursor: pointer;
}


.quotes {
    font-size: 20px;
    color: white;
    text-align: center;
    font-style: italic;
    position: absolute;
    bottom: 120px;
    left: 25%
}

#submit {
    margin: 0%;
    color: white;
    background-color: green;
}

@keyframes changesize {
    from {font-size: 12px;}
    to {font-size: 20px;}
}